{% extends 'base.html.twig' %}

{% block title %}Bioramas - La boutique du CBD Bio - Mon compte{% endblock %}

{% block content %}
    <h1>Mon Compte</h1>
    <p>Bienvenue {{app.user.firstname}} dans votre compte.</p><p> C'est dans cette espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item">
                {% if is_granted ('ROLE_ADMIN') %}
    <a href="/admin"> Accéder au backoffice.</a><br/>
    {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_password')}}"> Modifier mon mot de passe.</a><br/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
            <a href="{{ path('account_adress')}}"> Gérer mes adresses.</a><br/>
            </div>
    </div>

{% endblock %}
