{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content%}

	{# <h3>Nos meilleurs ventes</h3>
	    <p>Découvrez les articles Les plus vendu</p> #}

	<div class="row">
		{% for product in products %}
			<div class="col-md-4">
				{% include 'product/single_product.html.twig'%}
			</div>
		{% endfor %}
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Huiles de CBD
				<span class="text-muted">Les huiles de CBD</span>
			</h2>
			<p class="lead">Les huiles de CBD choisies par nos experts sont ce qui se fait de plus performant sur le marché. Véritable concentré de cannabinoïdes, elles sont extraites de fleurs de CBD de haute qualité et vous accompagnent tous les jours vers un confort et un bien-être durable.</p>
		</div>
		<div class="col-md-5">
			<img src="/uploads/huile-cbd-05-chanvre-500X500.png" alt='huile' class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Gélules CBD
				<span class="text-muted">Les gélules au CBD</span>
			</h2>
			<p class="lead">Les gélules au CBD sont l’innovation qui révolutionne le monde du bien-être, alliant les bienfaits du CBD à la méthode d’administration la plus efficace dans un produit bien-être naturel.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="/uploads/infusion-cbd-very-berry.png" alt='huile' class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Cosmétiques CBD
				<span class="text-muted">Shampoing, soin visage, déodorant, crème pour le corps</span>
			</h2>
			<p class="lead">Oubliez les cosmétiques classiques bourrés de produits chimiques et profitez des bienfaits du CBD.</p>
		</div>
		<div class="col-md-5">
			<img src="/uploads/Creme-anti-age-jour-et-nuit-CBD-500X500.png" alt='huile' class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
		</div>
	</div>

	<hr
	class="featurette-divider">

<!-- /END THE FEATURETTES -->
{% endblock %}
